


.container{
    background-color: #333;
    height: 600px;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
}
.box1{
    background-color: #8FC6FC;
}
.box2{
    background-color: #E68FFC;
}
.box3{
    background-color: #8FFCD8;
}
.box4{
    background-color: #ECFC8F;
}
.box5{
    background-color: #FCBB8F;
}
.box6{
    background-color: #C78FFC;
}







